# *******************************************************************************
# Copyright (c) 2025 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************

build --incompatible_enable_cc_toolchain_resolution
build --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1

# use mw/log stub implementation by default
common --@score-baselibs//score/mw/log/detail/flags:KUse_Stub_Implementation_Only=False
common --@score-baselibs//score/mw/log/flags:KRemote_Logging=False
common --@score-baselibs//score/json:base_library=nlohmann
common --//score/mw/com/flags:tracing_library=stub

build --extra_toolchains=@autosd_9_gcc_repo//:gcc_toolchain_linux_x86_64
build --host_platform=@multi_gcc_toolchain//constraints:autosd9_x86_64
build --platforms=@multi_gcc_toolchain//constraints:autosd9_x86_64

build --incompatible_strict_action_env
test --test_tag_filters=-manual
build --experimental_retain_test_configuration_across_testonly #https://github.com/bazelbuild/bazel/issues/6842

# unshare /dev/shm and /tmp
test --sandbox_tmpfs_path=/dev/shm
test --sandbox_tmpfs_path=/tmp

common --registry=https://raw.githubusercontent.com/eclipse-score/bazel_registry/refs/heads/main/
common --registry=https://bcr.bazel.build
